<section id="about">  

  <div class="row section-intro">
    <div class="col-twelve">

      <h5>About</h5>
      <h1>Let me introduce myself.</h1>

      <div class="intro-info">

        <img src="https://secure.gravatar.com/avatar/5f9a29a8407e88a611b5bd004408018e" alt="Profile Picture">

        <p class="lead">Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.</p>
      </div>   			

    </div>   		
  </div> <!-- /section-intro -->

  <div class="row about-content">

    <div class="col-six tab-full">

      <h3>Profile</h3>
      <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

      <ul class="info-list">
        <li>
          <strong>Full-name:</strong>
          <span>Yev</span>
        </li>
      
        <li>
          <strong>Job:</strong>
          <span>Developer</span>
        </li>
        <li>
          <strong>Website:</strong>
          <span>www.TBD.com</span>
        </li>
        <li>
          <strong>Email:</strong>
          <span>me@email.com</span>
        </li>

      </ul> <!-- /info-list -->

    </div>

    <div class="col-six tab-full">

      <h3>Skills</h3>
      <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

     <ul class="skill-bars">
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>Python</strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>Javascript</strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>Django</strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>Golang</strong>
        </li>
        <li>

          <div class="progress percent75"><span>75%</span></div>
          <strong>Your Mom</strong>
        </li>
   
     </ul> <!-- /skill-bars -->		

    </div>
    <p>
      <a href="{% url "blog:post_list" %}">
        Back
      </a>
    </p>

  </div>
</section>