<section id="about">  

  <div class="row section-intro">
    <div class="col-twelve">
      <div class="intro-info">

        <img src="https://secure.gravatar.com/avatar/5f9a29a8407e88a611b5bd004408018e" alt="Profile Picture">

        <p class="lead">
        
          Eliot began programming early in his college experience which further fueled his interest in Computer Scinece. In the Marine Corps, he continued programming as a hobby while learning about networking and security.

          After leaving the military service, Eliot began working as a software engineer in the Albuquerque, New Mexico area and soon after that he secured a position at Sandia National Laboratory. Working for the premier 
          nuclear lab in the united states, he began work in Angular development by assisting in creating a RSS News feed application that feed the entire Sandia National Labs workforce. He also began work in C# .Net application
          development creating several applications for scientists to upgrade their current work by adding a digital manner of analysis and accident prevention.  

          CONTINUE HERE NEXT TIME
        
        
        
        </p>
      </div>   			

    </div>   		
  </div> <!-- /section-intro -->

  <div class="row about-content">

    <div class="col-six tab-full">

      <h3>Summary</h3>
      <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

      <ul class="info-list">
        <li>
          <strong>Full-name:</strong>
          <span>Yev</span>
        </li>
      
        <li>
          <strong>Job:</strong>
          <span>Developer</span>
        </li>
        <li>
          <strong>Website:</strong>
          <span>www.TBD.com</span>
        </li>
        <li>
          <strong>Email:</strong>
          <span>me@email.com</span>
        </li>

      </ul> <!-- /info-list -->

    </div>

    <div class="col-six tab-full">

      <h3>Skills & Projects</h3>
      <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

     <ul class="skill-bars">
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>Python</strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>Javascript</strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>Django</strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>Golang</strong>
        </li>
        <li>

          <div class="progress percent75"><span>75%</span></div>
          <strong>Your Mom</strong>
        </li>
   
     </ul> <!-- /skill-bars -->		

    </div>
    <p>
      <a href="{% url "blog:post_list" %}">
        Back
      </a>
    </p>

  </div>
</section>